streamlit
python-dotenv
youtube-transcript-api
yt-dlp
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
huggingface-hub
langchain-groq
rank-bm25
sentence-transformers>=2.7.0